QUESTION 1
Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.

In [2]:
import pandas as pd

data = [4, 8, 15, 16, 23, 42]
series = pd.Series(data)
print(series)
type(series)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

pandas.core.series.Series

QUESTION 2 
Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the variable and print it

In [4]:
import pandas as pd

my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
my_series = pd.Series(my_list)
print(my_series)

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

QUESTION 3

In [9]:
data={
    'Name':['Alice','Bob','Claire'],
    'Age': [25, 30, 27],
    'Gender': ['Female', 'Male', 'Female']
}
df=pd.DataFrame(data)
print(df)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

QUESTION 4

In Pandas, a DataFrame is a two-dimensional labeled data structure with columns of potentially different data types. It is like a spreadsheet or a SQL table, where data is organized in rows and columns. On the other hand, a Series is a one-dimensional labeled array capable of holding data of any type. It can be thought of as a column in a DataFrame.

For example:

In [11]:
import pandas as pd

data = {
    'Name': ['John', 'Alice', 'Bob', 'Emily'],
    'Age': [25, 32, 19, 27],
    'City': ['New York', 'Paris', 'London', 'Sydney']
}

df = pd.DataFrame(data)
series = df['Age']

print(df)
print(series)

    Name  Age      City
0   John   25  New York
1  Alice   32     Paris
2    Bob   19    London
3  Emily   27    Sydney
0    25
1    32
2    19
3    27
Name: Age, dtype: int64

Here Age is considered as series

QUESTION 5

There are many functions available in Pandas to manipulate data in a DataFrame. Here are some of the most commonly used functions:

head() and tail(): These functions are used to view the first and last n rows of a DataFrame, respectively. For example, df.head() will show the first five rows of the DataFrame df.

describe(): This function is used to generate descriptive statistics for the DataFrame. For example, df.describe() will show the count, mean, standard deviation, minimum, and maximum values for each numeric column in the DataFrame.

dropna(): This function is used to remove rows or columns that contain missing data. For example, df.dropna() will remove any rows that contain missing data.

groupby(): This function is used to group data in a DataFrame by one or more columns and apply a function to each group. For example, df.groupby('City').mean() will group the data by the City column and calculate the mean for each numeric column for each group.

sort_values(): This function is used to sort the data in a DataFrame by one or more columns. For example, df.sort_values('Age') will sort the data by the Age column in ascending order.

merge(): This function is used to combine two or more DataFrames into a single DataFrame based on a common column. For example, df.merge(other_df, on='ID') will merge the df and other_df DataFrames based on the ID column.

QUESTION 6

In Pandas, both Series and DataFrame are mutable in nature, which means you can modify their values, add or remove columns, and manipulate their structure.

However, Panel is no longer actively developed or maintained in the latest version of Pandas (as of version 1.0), and it has been deprecated in favor of using multi-dimensional arrays or DataFrames with hierarchical indexing. In any case, Panel is also mutable in nature.

QUESTION 7

To create a DataFrame using multiple Series, we can combine the Series into a dictionary and then pass that dictionary to the pd.DataFrame() function. Each Series becomes a column in the resulting DataFrame, and the keys of the dictionary become the column names.
       In this example, we first define three Series (name, age, and city) with the same length. We then create a dictionary data with the Series as values and their corresponding column names as keys. Finally, we pass this dictionary to the pd.DataFrame() function to create the DataFrame df. Each Series becomes a column in df, and their column names are 'Name', 'Age', and 'City'.

In [12]:
import pandas as pd

name = pd.Series(['John', 'Alice', 'Bob', 'Emily'])
age = pd.Series([25, 32, 19, 27])
city = pd.Series(['New York', 'Paris', 'London', 'Sydney'])

data = {'Name': name, 'Age': age, 'City': city}
df = pd.DataFrame(data)

print(df)

    Name  Age      City
0   John   25  New York
1  Alice   32     Paris
2    Bob   19    London
3  Emily   27    Sydney